/* Common style */
* {
    font-family: Mulish;
    box-sizing: border-box;
}

.body {
    overflow: hidden;
}

:root {
    --primary-color: #fff;
    --secondary-color: #131318;
    --third-color: #FF5400
}

.btn-main {
    color: var(--primary-color);
    background-color: var(--third-color);
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.destination-title {
    color: var(--primary-color);
    font-size: 1.7rem;
    font-weight: 800;
}

/* Header Section */
.header-containter {
    width: 1170px;
    height: auto;
    margin: 50px auto;

}

.header-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    display: flex;
    align-items: center;
}

.main-title {
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 800;
}

.main-title span {
    color: var(--third-color);
    font-size: 2.2rem;
    font-weight: 800;
}

.header-title img {
    width: 3rem;
    height: 3rem;
}

nav li {
    display: inline;
    padding-right: 2.5rem;
    color: #424247;
    font-size: 1.2rem;
    font-weight: 400;
}

nav li:hover {
    color: var(--third-color);
    transition: 0.2s ease-in;

}

.mobile-nav img {
    width: 50px;
    position: absolute;
    top: 75px;
    left: 950px;
    display: none;
}

.explore-section {
    width: 1170px;
    height: 500px;
    margin-top: 60px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 10px;
}

.explore-content {
    background-color: rgba(0, 0, 0, 0.185);
    height: inherit;
}

.explore-content h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 6rem;
}

.explore-content p {
    color: var(--primary-color);
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    width: 600px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

}

.location-query {
    background: #ffffff71;
    width: 800px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.location-query input {
    background-color: var(--primary-color);
    border-radius: 8px;
    width: 170px;
    height: 50px;
    border: none;
    padding-left: 20px;
}

/* Popular Tour Section */

.tour-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 1170px;
}

.tour-content {
    width: 570px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.tour-content h2 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 800;
}

.tour-content p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
.tour-content .btn-main{
    margin-top: 25px;
}


.tour-content li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding-top: 10px;
}

.tour-image img {
    margin-left: 50px;
}

/* Destination Section */
.destination-section {
    width: 1170px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.destination-content h2 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-content p {
    width: 640px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

.destination-images {
    width: 1170px;
    height: auto;
}

.first-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.first-row-left {
    height: 300px;
    background-image: url(../Images/Rectangle\ 5.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.first-row-right {
    height: 300px;
    background-image: url(../Images/Rectangle\ 8.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.second-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 25px;
}

.second-row-left {
    height: 300px;
    background-image: url("../Images/Rectangle\ 6.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

}

.second-row-middle {
    height: 300px;
    background-image: url("../Images/Rectangle\ 7.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;

}

.second-row-right {
    height: 300px;
    background-image: url("../Images/Rectangle\ 9.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.third-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 25px;
}

.third-row-left {
    height: 300px;
    background-image: url("../Images/Rectangle\ 11.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.third-row-right {
    height: 300px;
    background-image: url("../Images/Rectangle\ 10.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.bg>h4 {
    color: var(--primary-color);
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}


/* Choice Section */


.choice-section {
    width: 1170px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.choice-section-content {
    width: 1170px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.choice-section-content h2 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.card-section {
    width: 1170px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 25px;
}

.homepick-card {
    width: 550px;
    height: 260px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin: 0;
    padding-left: 25px;
    padding-top: 25px;
}

.homepick-card h4 {
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 800;
}

.homepick-card p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 480px;

}

.world-class-card {
    width: 550px;
    height: 260px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin: 0;
    padding-left: 25px;
    padding-top: 25px;
}

.world-class-card h4 {
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 800;
}

.world-class-card p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 480px;

}

.card-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.price-card {
    width: 550px;
    height: 260px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;

}

.price-card h4 {
    color: var(--secondary-color);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;

}

.price-card p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 480px;
    font-family: Mulish;
}

/* Trip Packages Style */
.trip-packages{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.package-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.package-content h2 {
    color: var(--secondary-color);
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.package-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.basic-package {
    width: 300px;
    height: auto;
    background-color: rgba(251, 181, 99, 0.05);
}

.basic-package img {
    width: 300px;
}

.basic-package h4 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 600;
    padding-left: 10px;
}

.basic-package div {
    display: flex;
    justify-content: space-between;
}

.basic-package div>p {
    color: var(--secondary-color);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 800;
    padding-right: 10px;
    padding-left: 10px;
}

.standerd-package {
    width: 300px;
    height: auto;
    background-color: rgba(41, 206, 246, 0.05);
}

.standerd-package img {
    width: 300px;
}

.standerd-package h4 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 600;
    padding-left: 10px;
}

.standerd-package p {
    color: var(--secondary-color);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.standerd-package div {
    display: flex;
    justify-content: space-between;
}

.standerd-package div>p {
    color: var(--secondary-color);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 800;
    padding-right: 10px;
    padding-left: 10px;
}

.ultra-package {
    width: 300px;
    height: auto;
    background-color: rgba(251, 181, 99, 0.05);
}

.ultra-package img {
    width: 300px;
}

.ultra-package h4 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 600;
    padding-left: 10px;
}

.ultra-package div {
    display: flex;
    justify-content: space-between;
}

.ultra-package div>p {
    color: var(--secondary-color);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 800;
    padding-right: 10px;
    padding-left: 10px;
}

/* Deals & Discount Style */

.discount-section {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.discount-section-title h3 {
    color: var(--secondary-color);
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

.discount-section-title p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 50px;
}


.tour-details {
    width: 1170px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.tour-duration {
    background-image: url("../Images/Bg-1.png");
    width: 1170px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    padding: 56px;
    margin-top: 30px;

}

.tour-duration-bg {
    background: rgba(255, 255, 255, 0.80);
    width: 580px;
    height: 390px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tour-duration-top {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.time,
.capacity,
.location {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;

}

.tour-detalis-content {
    padding: 25px;
}

.tour-details-content h4 {
    color: var(--secondary-color);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.tour-duration-middle {
    display: flex;
    justify-content: flex-start;
    background-image: url(../Images/Group\ 40.png);
    padding: 56px;
    margin-top: 30px;
    background-repeat: no-repeat;
}

.bg {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

/* Perfect Place Container */

.perfect-place {
    width: 1170px;
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.perfect-place-container h2 {
    color: var(--secondary-color);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.perfect-place-container p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    width: 530px;
}

.perfect-place-container ul {
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    margin: 25px;
}

.perfect-place iframe {
    border-radius: 20px;
    width: 600px;
    height: 500px;
}

.perfect-place-container .btn-main {
    margin-top: 100px;
}

/* Subcriber Section style */
.subscriber-section {
    display: flex;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.subscriber-form {
    border: 2px solid var(--third-color);
    width: 475px;
    height: 422px;
}

.subscriber-form h3 {
    color: var(--secondary-color);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    padding-left: 40px;
    padding-top: 40px;
}

.subscriber-form p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
    padding-left: 40px;
}

.subscriber-form input {
    width: 390px;
    height: 50px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgba(19, 19, 24, 0.05);
}

.subscriber-form .btn-main {
    width: 393px;
    margin-top: 40px;
    margin-left: 40px;
}

.discount-box {
    background-image: url("../Images/Rectangle\ 8\ \(1\).png");
    margin-left: 25px;
    border-radius: 16px;
    flex: 1;
}

.discount-box-content {
    background: var(--third-color);
    width: 325px;
    height: 120px;
    border-radius: 16px;
    transform: rotate(-19deg) translateX(230px) translateY(350px);
}

.discount-box-content h2 {
    color: var(--primary-color);
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.discount-box-content h4 {
    color: var(--primary-color);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

/* Footer Section */
footer {
    background-color: rgba(19, 19, 24, 0.05);
    width: 100%;

}

/* footer Section style */

.footer-title {
    background-color: rgba(19, 19, 24, 0.05);
}

.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    text-align: center;
    width: 100%;
}


.description p {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.footer-icons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-icons img {
    cursor: pointer;
    padding-left: 50px;
    margin-top: 50px;
}

.break-point {
    background-color: rgba(19, 19, 24, 0.10);
    height: 2px;
    width: 870px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;
}

.all-rights-reserved h5 {
    color:var(--secondary-color);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    text-align: center;

}


/* Meaia screen for small device */
@media screen and (max-width:600px) {

    .header-top-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #nav-bar ul {
        display: none;
    }

    .mobile-nav img {
        display: block;
    }

    .explore-section {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .location-query input {
        padding: 5px;
        align-items: center;
    }
    .tour-section {
        grid-template-columns: repeat(1,1fr);
    }
    .tour-image {
        width: 300px;
        height: 300px;
        margin-left: 0;
    }
    .first-row,
    .second-row,
    .third-row,
    .package-list
    {
        flex-direction: column;
    }
    .first-row-left,.first-row-right,
    .second-row-left,.second-row-middle,.second-row-right,
    .third-row-left,.third-row-right{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-section-1{
        grid-template-columns: repeat(1,1fr);
        margin-left: 310px;

    }
}